
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row mt-5">
        <h2 class="list-product-title">Top san pham</h2>
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Models/Anh/101687691_146469747040460_122739041354383360_n.jpg" alt="Card img cap"/>
                        <div class="card-body">
                            <h5 class="card-title">name</h5>
                            <p class="card-text">Gia</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Models/Anh/101687691_146469747040460_122739041354383360_n.jpg" alt="Card img cap" />
                        <div class="card-body">
                            <h5 class="card-title">name</h5>
                            <p class="card-text">Gia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

