@model IEnumerable<WedBanHang.Models.tbl_Nhom>
@foreach (var item in Model)
{
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("pageNhoms",new {mNhom=item.MaNhom })">@item.TenNhom<span class="sr-only"></span></a>
    </li>
}

