
@{
    ViewBag.Title = "Register";
}

<h1>Đăng ký tài khoản</h1>
<form>
    <table>
        <tr>
            <td>
                <a>User Name</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>Password</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>nhập lại Password</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>Họ tên</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>Địa chỉ</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>Số điện thoại</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>mail</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <a>Ngày tháng năm sinh</a>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" /></td>
        </tr>
    </table>
</form>
