<h2>My First Web Page</h2>
<p>My First Paragraph.</p>
<script src="~/Scripts/js/JavaScript.js"></script>
<form name="myForm" action="#" onsubmit="return validateForm()">
    <ul>
        <li><input type='text' name='text1' /></li>
        <li>&nbsp;</li>
        <li class="submit"><input type="submit" name="submit" value="Submit" /></li>
        <li>&nbsp;</li>
    </ul>
</form>
<script src="~/Scripts/js/JavaScript.js"></script>